<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <img src="{{news.coverSrc}}" class="card-img-top" alt="cat" style="height: 200px; object-fit: cover" />
  <h1 class="display-1 fst-italic">{{news.title}}</h1>
  <h4 class="card-subtitle mb-2 text-muted">Author: {{news.author}}</h4>
  <h5 class="lead my-3">Description: {{news.description}}</h5>
</div>
{{#if comments}}
  <p>Comments:</p>
  <ul class="row">
    {{#each comments}}
      <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
        <img src={{this.avatar}} class="card-img-top" alt="cat" style="width: 64px; height: 64px; object-fit: contain" />
        <div class="ms-2 me-auto">
          <div class="fw-bold bold">{{this.author}}</div>
          {{this.text}}
        </div>
      </li>
    {{/each}}
  </ul>
  <form action="/comments/${newsId}" method="post" enctype="multipart/form-data" class="p-4">
    <div class="form-group">
      <label for="author">Author</label>
      <input name="author" type="text" class="form-control" id="author" placeholder="Enter your name" />
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea name="text" class="form-control" id="text" placeholder="Comment"></textarea>
    </div>
    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input name="avatar" type="file" class="form-control" id="avatar" placeholder="Avatar" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
{{else}}
  <h1>There are no comments here!</h1>
{{/if}}

